<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= @name.join(' ') %> is a Plonker</title>
    <link rel="stylesheet" href="plonker.css" />
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Plonkerwatch News</h1>
      </hgroup>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">UK</a></li>
          <li><a href="#">World</a></li>
          <li><a href="#">Business</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <h1><%= @name.join(' ') %> is a Plonker</h1>
        <div class="meta">
          <span>
            [TODO: clock icon] <%= (@name.join.length % 60) + 1 %> minutes ago
          </span>
          TODO: story metadata, trending, share link
        </div>
        <div class="img">
          <img src="/images/is-a-plonker.jpg" alt="Graffiti about <%= @name.join(' ') %>" />
          <p>
            Graffiti seen near where <%= @name.join(' ') %> lives.
          </p>
        </div>
        <p class="teaser">
          <%= @name.join(' ') %> is a plonker of the highest order, scientists have confirmed,
          after observing <%= @pronouns[:him_her_them] %> repeatedly asking for price checks
          at a well known &#8220;pound shop&#8221;.
        </p>
        <p>
          Scientists first became aware that <%= @name.last %>&#8217;s elevator might not go all the
          way to the top floor when <%= @pronouns[:his_her_their] %> friend, who has chosen to
          remain anonymous, revealed that <%= @name.last %> once jumped into a pond in order
          to save <%= @pronouns[:his_her_their] %> own reflection.
        </p>
        <p>
          &#8220;<%= @pronouns[:he_she_they].capitalize %> was just looking over the edge of the bridge
          and saw <%= @pronouns[:his_her_their] %> reflection&hellip; and the next moment
          <%= @pronouns[:he_she_they] %> was splashing around like the world&#8217;s
          stupidest duckling,&#8221; the friend
          reported.
        </p>
        <p>
          It didn&#8217;t take too much longer for researchers to believe that <%= @name.last %> might
          well be the world&#8217;s most-idiotic person. Speaking on behalf of the research team, Dr. Alison
          Butt, said: &#8220;<%= @name.first %> is about as sharp as a beach ball. When
          <%= @pronouns[:he_she_they] %> first returned my call,
          <%= @pronouns[:he_she_they] %> started by asking for my phone number. Later,
          in the lab, we were able to distract <%= @pronouns[:him_her_them] %> for some hours
          with a piece of paper on which we&#8217;d written &#8217;please turn over&#8217; on both sides. We&#8217;re
          talking about a real plonker, here.&#8221;
        </p>
        <div class="img">
          <img src="/images/pool-people.jpg" alt="Former title holder " />
          <p>
            Former holder of the &#8220;biggest plonker&#8221; award Dweezil Drumpf relaxing in the
            pool with his stupid friends.
          </p>
        </div>
        <p>
          Scientists have long-predicted that the world&#8217;s biggest plonker had yet to be discovered,
          but finding <%= @name.join(' ') %> might well mean that the search is over. &#8220;The engine is
          running but there&#8217;s nobody at the wheel,&#8221; said Dr. Butt, &#8220;I doubt that we&#8217;ll
          ever find a more-thorough nincompoop than <%= @name.first %>; certainly not in my lifetime. <%= @name.first %>
          has difficulty with the most-basic of tasks, such as thinking without moving <%= @pronouns[:his_her_their] %>
          lips. <%= @pronouns[:hes_shes_theyre] %> not quite as dumb as a box of rocks, but it&#8217;s a pretty
          close thing.&#8221;
        </p>
        <p>
          We tried to reach <%= @name.first %> for a comment, but <%= @pronouns[:his_her_their] %> meaningless
          gibbering didn&#8217;t make enough sense to print. <%= @pronouns[:he_she_they].capitalize %> clearly wanted
          to give us a piece of <%= @pronouns[:his_her_their] %> mind, but evidently couldn&#8217;t spare
          any.
        </p>
      </article>
      <aside>
        <div class="elsewhere-on-the-web">
          <h2>Elsewhere on the web:</h2>
          <ol>
            <% DOMAINS.each do |domain, data| %>
              <li>
                <a href="http://<%= @predomain %>.<%= domain %>/"><%= data[:teaser].gsub('{{fullname}}', @name.join(' ')) %></a>
                <span><%= data[:agency] %></span>
              </li>
            <% end %>
          </ol>
        </div>
      </aside>
    </main>
    <footer>
      Footer
    </footer>
  </body>
</html>
