<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= DOMAINS[@domain][:teaser].gsub('{{fullname}}', @name.join(' ')) %></title>
    <link rel="stylesheet" href="<%= DOMAINS[@domain][:code] %>.css" />
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Plonkerwatch News</h1>
      </hgroup>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">UK</a></li>
          <li><a href="#">World</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Tech</a></li>
          <li><a href="#">Science</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Entertainment &amp; Arts</a></li>
          <li><a href="#">Video &amp; Audio</a></li>
          <li><a href="#">More</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <%= yield %>
      </article>
      <aside>
        <div class="elsewhere-on-the-web">
          <h2>Elsewhere on the web:</h2>
          <ol>
            <% DOMAINS.each_with_index do |(domain, data), index| # TODO: exclude current domain? %>
              <li>
                <span class="number">
                  <%= index + 1 %>
                </span>
                <span class="content">
                  <a href="http://<%= @predomain %>.<%= domain %>/<%= params['splat'][0] %>"><%= data[:teaser].gsub('{{fullname}}', @name.join(' ')) %></a>
                  <span class="agency"><%= data[:agency] %></span>
                </span>
              </li>
            <% end %>
          </ol>
        </div>
      </aside>
    </main>
    <footer>
      <section>
        <aside>
          <ul>
            <li><a href="/faq#why-my-name">Why is my name on this website?</a></li>
            <li><a href="/faq#who-picked-on-me">Who put my name on this website?</a></li>
            <li><a href="/faq#take-my-name-off">Take my name off this website!</a></li>
            <li><a href="/faq">&hellip; and other questions &hellip;</a></li>
          </ul>
        </aside>
        <aside>
          <ul>
            <li><a href="http://<%= domain %>/">News about my friends</a></li>
          </ul>
        </aside>
        <aside>
          <ul>
            <li>
              &copy; <a href="https://danq.me/">Dan Q</a> 2017
              <%= (year = Time.now.year) > 2017 ? " &ndash; #{year}" : '' %>
            </li>
            <li>
              <a href="https://github.com/Dan-Q/plonker">Open source</a> under the <a href="https://github.com/Dan-Q/plonker/blob/master/LICENSE">MIT license</a>
            </li>
          </ul>
        </aside>
      </section>
    </footer>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-587fdbe5c62eb062"></script>
  </body>
</html>
