<div id="setup" class="requires-js">
  <h2><%= DOMAINS[@domain][:feature] %></h2>

  <p>
    Enter their name below and get a unique web address to view or share:
  </p>

  <div class="field">
    <label for="name">Their name</label>
    <input id="name" placeholder="Your victim's name" />
  </div>

  <a class="button" href="#" id="advanced-button">Advanced options&hellip;</a>

  <div id="advanced-section">
    <div class="field">
      <label for="domain">Site</label>
      <select id="domain">
        <% DOMAINS.each do |k, v| %>
          <option value="<%= k %>" <%= 'selected="selected"' if k == @domain %>><%= k %></option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <label for="pronoun">Their pronoun</label>
      <select id="pronoun">
        <option value="0">Guess (default)</option>
        <option value="1">He/him</option>
        <option value="2">She/her</option>
        <option value="3">They/them</option>
      </select>
    </div>

    <div class="field">
      <label for="locality">Their locality</label>
      <select id="locality">
        <% File.read('lib/locations.txt').split("\n").map{|r|r.split('|')}.each do |r| %>
          <option value="<%= r[2] %>"><%= r[0] %></option>
        <% end %>
      </select>
      <small>Optionally select the British city or county, or the country in which the victim resides to further personalise the page.</small>
    </div>
  </div>

  <a id="result" target="_blank"></a>
</div>

<div class="requires-no-js">
  <p>
    Javascript is required to use this tool.
  </p>
</div>

<script type="application/javascript" src="/jquery-3.1.1.min.js"></script>
<script type="application/javascript" src="/setup.js"></script>
